body {background:url('/e/images/diagonal-noise.png');}
body.jb_iframe  {padding-top:60px; background:transparent;}
body.offline  {padding-top:60px; background:transparent;}

/* Wrapper */
#sexywrapper {margin:0px auto; max-width:1240px; box-shadow:rgb(180, 180, 180) 0px 0px 3px; background:#fff;}

/* Head */ 
#the_head {position:relative; border-bottom:1px solid #d9d9d9; border-top:3px solid #666; text-align:center;}
#the_head div {position:absolute; top:0px; left:25%; text-align:left;}
#the_head div h1 {font-size:70px; line-height:60px; padding-top:50px; margin:0;}
#the_head div h3 {font-size:20x; line-height:35px; font-weight:normal; text-transform:uppercase;}

/* Sidebar */
.sidebar-widget {padding-top:9px;}
.sidebar-widget p:last-child {margin-bottom:0;}
#cart_widget {margin-bottom:10px;}
#cart_widget th {font-size:10px;}
#cart_widget td {font-size:10px; line-height: 1.1em;}
#cart_widget th.first, #cart_widget td.first {padding-left:0;}
#cart_widget th.last, #cart_widget td.last {padding-right:0;}
#cart_widget td.widget_subtotal {white-space:nowrap;}
h5.widget-header {margin:0 -15px 0 -15px; text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);}
 
/* Navbar */
#navi-primary {margin-bottom:20px;}
.sidebar-nav, .well-nav {padding:9px 0;}

/* Genuine Cat */
.genucat_btn.disabled {opacity:0.3; cursor:not-allowed;}

/* Manufacturers */
.genucat_btn {margin-bottom:7px; margin-right:7px;}
.genucat_btn img {width:75px; height:75px;}
.cat_btn {margin:0 12px 12px 0;}
.cat_btn img {width:75px; height:75px;}
.mfgcol {float:left; width:25%;}
.auto_manufacturer {list-style:none; margin:0; padding:0; text-indent:0;}
#mfgfilter {display:none;}

/* Models */
.year_filter_container .year_filter {}
.year_filter_container .year_filter_selected {background:#ccc; color:#333;}
.year_filter_container .year_filter_selected:hover {background:#ccc; color:#333; text-decoration:none;}

/* Category tree */
.save-car-block, .delete-car-block {padding-right:14px;}
.save-car-block div.progress, .delete-car-block div.progress {margin-bottom:0;}
.cat_tree_link {text-transform:capitalize;}

/* Stock */
.-table_filter {border:0; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
.table_filter strong {color:#555;}
.table_filter a.selected {background:#eee; padding:0 3px 0 3px; color:#000; border-radius:4px; font-weight:bold;}

td.stock-buttons, td.table-buttons {text-align:right; white-space:nowrap;}
td.article_number {white-space:nowrap;}
td.article_price {white-space:nowrap;}
#stock td.delivery_days {white-space:nowrap;}
#stock .dd_percent, #stock .price_update_date, #stock_primary .dd_percent, #stock_primary .price_update_date {font-size:10px;}
#stock tr.primary_article td.article_number {font-weight:bold;}

#stock td.art_status i {display:none;}
#stock tr.primary_article td.art_status i.icon-star {display:inline-block;}
#stock tr.normal_article td.art_status i.icon-star-empty {display:inline-block;}
#stock tr.brands_match_neutral td.art_status i.icon-question-sign {display:inline-block; visibility:hidden;}
#stock tr.brands_mismatch td.art_status i.icon-remove-circle {display:inline-block; visibility:hidden;}

.stock-description {white-space:pre-line;}

.prices-rebuild .get-more-prices {display:none;}
.api_list_thisnr .get-more-prices {display:none;}

#api-progress-flying {position:fixed; top:0px; z-index:10; background:#fff; background:rgba(255,255,255,0.8); padding:7px; border-radius:3px;}
#api-progress-flying .progress {margin-bottom:0;}

.stock-label {cursor:help;}

th[data-sort] {cursor:pointer; white-space: nowrap;}
th[data-sort] i {opacity:0.3;}
th[data-sort] span {border-bottom: 1px dotted #ccc; color:#444;}
th[data-sort]:hover span {color:#666;}

/* Cart */
.d_mthd_title {padding-left:20px!important;}
.d_mthd_title label {font-size:11px; color:#666;}
.d_mthd_price {color:#666;}

.delivery_method_active .d_mthd_title label {font-weight:bold;}
.delivery_method_active .d_mthd_price {font-weight:bold;}

#cart_list tr:hover td {background:transparent;}
#cart_list tr.cart_item td {background:#f5f5f5;}
#cart_list .total_label {font-weight:bold; text-align:right;}
#cart_list .total {font-weight:bold;}
#cart_list td.qty {white-space:nowrap;}
#cart_list td.price {white-space:nowrap;}
#cart_list td.subtotal {white-space:nowrap;}

/* Search */
.search_arl_kind {font-weight:bold;}

/* Orders */
.table tbody tr.cancelled td {background-color: #F9F9F9; color:#777;}

/* Pages */
.text-page p.wideimage {border:10px solid #ccc; border-radius:5px;}

/* Footer */
#whodidit {text-align:right;}
#footer {background:#eee; color:#555; padding-top:20px; padding-bottom:20px; margin-top:50px;}

/* JavaScript helpers */
#jbsmBox {display:none;}
#jbsmBox.model-saved #jbsmDeleteCar {display:block;}
#jbsmBox.model-not-saved #jbsmSaveCar {display:block;}
li.jbsm-list-header {display:none;}
.showifempty {display:none;}
#year_filter_top {display:none;}
.fadeout {opacity:0.5;}
.fadeout:hover {opacity:1;}

/* Modal Fix */
div.modal > form {margin:0;}

/* Messages */
.jumbotron {}
.jumbotron {margin: 0; text-align: center; padding-top:60px; padding-bottom:60px;}
.jumbotron hr {margin-top: 60px;}
.jumbotron h1 {font-size: 72px;line-height: 1;}
.jumbotron .btn {font-size: 21px;padding: 14px 24px;}

body.hide-message-no-prices #message-no-prices {display:none;}

/* Responsiveness */
.mw-979-js-show {display:none!important;}
.mw-979-show {display:none;}
.mw-767-show {display:none;}
.mw-580-show {display:none;}
.mw-480-show {display:none;}

@media (max-width: 979px)
{
	.mw-979-hide {display:none;}
	.mw-979-show {display:block;}
	.mw-979-js-show {display:block!important;}
	
	.nav-collapse.collapse .first-nav-block {border-top:1px solid #f2f2f2; margin-top:10px; padding-top:10px;}
	
	#the_head div h1 {font-size:50px; line-height:40px; padding-top:35px;}
	#the_head div h3 {font-size:18px; line-height:25px;}
	
	#top_search {display: block; width: 100%; min-height: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
	#search-button {display:none;}
	
	.cat_btn img {width:55px; height:55px;}
	.genucat_btn img {width:55px; height:55px;}
	
	#mfgfilter .help-inline {display:none;}
	
	.mfgcol {width:50%;}
	
	.sidebar-widget {padding-left:15px; padding-right:9px;}
	#cart_widget {margin-bottom:5px;}
	#cart_widget thead {display:none;}
}

@media (max-width: 767px)
{
	.mw-767-hide {display:none;}
	.mw-767-show {display:block;}
	
	body {background:#fff;}
	
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top{margin-right:0; margin-left:0;}
	
	#the_head {margin-left:-20px; margin-right:-20px;}
	#the_head div h1 {font-size:36px; line-height:20px; padding-top:30px;}
	#the_head div h3 {font-size:15px; line-height:20px;}
	
	#navi-primary {margin-left:-20px; margin-right:-20px;}
	
	#sexywrapper {box-shadow:none;}
	
	#footer {margin-left:-20px; margin-right:-20px; padding-left:20px; padding-right:20px;}
	#footer #footnote_container {float:left; width: 74.30939226519337%;*width: 74.25620077583166%;}
	#footer #whodidit_container {float:right; text-align:right; width:94px;}
}

@media (max-width: 580px)
{
	.mw-580-hide {display:none;}
	.mw-580-show {display:block;}
	
	#the_head div h1 {font-size:28px; line-height:10px; padding-top:30px;}
	#the_head div h3 {font-size:13px; line-height:12px;}
	
	#footer #footnote_container {float:none; width: 100%;}
	#footer #whodidit_container {float:none; text-align:left; width: 100%;}
	#footer #whodidit {text-align:left;}
}

@media (max-width: 480px)
{
	.mw-480-hide {display:none;}
	.mw-480-show {display:block;}
	
	#the_head div h1 {font-size:20px; line-height:10px; padding-top:20px;}
	#the_head div h3 {font-size:10px; line-height:12px;}
}

/* Utility Messages */
.hiddenUtilityMessage {display:none;}
.utilityMessage.utilityMessageFixed {background:#fff; padding:0; text-align:center; font-size:22px; border-bottom:5px solid #ccc; position:fixed; top:0px; left:0px; width:100%; z-index:10000; line-height:100px;}
.utilityTableLineMessageBg {background:#fff; position:absolute; z-index:100; top:0; left:0; width:0; height:0; text-align:center;}
.utilityTableLineMessageText {position:absolute; z-index:101; top:0; left:0; text-align:center; font-size:26px; font-weight:bold; color:#999; line-height:26px;}